@tailwind base;
@tailwind components;
@tailwind utilities;
@import "variables.less";
.el-button{
  background-color: var(--el-button-bg-color)!important;
}

.bt1{
  border: 1px solid  red;
}
.bt2{
  border: 1px solid  green;
}
.t{
  color: var(--blue-color);
}
html,body{
background-color: var(--color-background);

}